@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --FF: 'Karla', sans-serif;
    --FS: 16px;
    --CYAN: hsl(179, 62%, 43%);
    --LIGHTCYAN: hsla(179, 62%, 43%, 0.5);
    --BRIGHTYELLOW: hsl(71, 73%, 54%);
    --LIGHTGRAY: hsl(204, 43%, 93%);
    --VERYLIGHTBLUE: hsla(217, 22%, 67%, 0.377);
    --GRAYISHBLUE: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--LIGHTGRAY);
    height: 100vh;
    display: flex;
    align-items: center;
}

.main__container {
    min-width: 315px;
    max-width: 650px;
    padding-inline: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

.main__container h2 {
    font-size: 1.2em;
    font-weight: lighter;
}

.text__join--container {
    background-color: white;
    padding-inline: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

.text--join > * {
    padding-top: 20px;
}

.text--join h2 {
    color: var(--CYAN);
}

.text--join h3 {
    color: var(--BRIGHTYELLOW);
    font-weight: 1em;
}

.text--join p {
    color: var(--GRAYISHBLUE);
    line-height: 1.5em;
    font-size: .9em;
}

.text__subscription--container {
    background-color: var(--CYAN);
}

.text--subscription {
    color: var(--LIGHTGRAY);
    padding-inline: 20px;
}

.text--subscription > * {
    padding-top: 20px;
}

.text--subscription h3 {
    font-size: 2em;
}

.subscription__price--container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.text--subscription h3 > span {
    font-size: 1rem;
    color: var(--VERYLIGHTBLUE);
}

.text--subscription button {
    all: unset;
    background-color: var(--BRIGHTYELLOW);
    width: calc(100% - 40px);
    text-align: center;
    margin-block: 20px;
    padding: 20px;
    border-radius: 5px;
}

.text__whyus--container {
    background-color: var(--LIGHTCYAN);
    border-radius: 0 0 10px 10px ;
}

.text--whyus {
    color: var(--LIGHTGRAY);
    padding: 20px;
}

.text--whyus p {
    color: var(--LIGHTGRAY);
    font-weight: lighter;
    padding-top: 20px;
    padding-right: 35%;
    line-height: 1.5em;
    font-size: .9em;
}

@media (min-width: 40em) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .text__join--container {
        padding-bottom: 40px;
        grid-column: 1 / span 2;
    }

    .text__subscription--container {
        border-radius: 0 0 0 10px;
    }

    .text__whyus--container {
        border-radius: 0 0 10px 0;
    }
}
