@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --FF: 'Karla', sans-serif;
    --FS: 16px;
    --CYAN: hsl(179, 62%, 43%);
    --LIGHTCYAN: hsla(179, 62%, 43%, 0.7);
    --BRIGHTYELLOW: hsl(71, 73%, 54%);
    --LIGHTGRAY: hsl(204, 43%, 93%);
    --VERYLIGHTBLUE: hsla(217, 22%, 67%, 0.377);
    --GRAYISHBLUE: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--LIGHTGRAY);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container {
    min-width: 315px;
    max-width: 650px;
    margin: 0 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px gray;
}

.text__join--container, .text__subscription--container, .text__whyus--container {
    padding: 20px;
}

.text__join--container {
    background-color: white;
    border-radius: 10px 10px 0 0;
}

h2 {
    font-size: 1.2em;
    padding-bottom: 20px;
}

h3 {
    padding-bottom: 20px;
}

.text--join h2 {
    font-size: clamp(1.2em, 2vw, 1.6em);
    color: var(--CYAN);
}

.text--join h3 {
    color: var(--BRIGHTYELLOW);
    font-size: clamp(1em, 2vw, 1.2em);
}

.text--join p {
    color: var(--GRAYISHBLUE);
    line-height: 1.5em;
    font-size: clamp(.9em, 2vw,.97em);
}

.text__subscription--container {
    background-color: var(--CYAN);
}

.text--subscription {
    color: var(--LIGHTGRAY);
}

.text--subscription h3 {
    font-size: 2em;
}

.subscription__price--container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.text__permonth {
    font-size: .9em;
    opacity: 50%;
}

.text--subscription > p {
    padding-top: 10px;
}

.text--subscription button {
    all: unset;
    background-color: var(--BRIGHTYELLOW);
    width: calc(100% - 30px);
    text-align: center;
    margin: 30px 0 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -15px #333;
}

.text__whyus--container {
    background-color: var(--LIGHTCYAN);
    border-radius: 0 0 10px 10px ;
}

.text--whyus {
    color: var(--LIGHTGRAY);
}

.text--whyus p {
    opacity: 70%;
    font-weight: lighter;
    padding-right: 35%;
    line-height: 1.5em;
    font-size: .9em;
}

@media (min-width: 40em) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .text__join--container {
        grid-column: 1 / span 2;
    }

    .text__subscription--container {
        border-radius: 0 0 0 10px;
    }

    .text__whyus--container {
        border-radius: 0 0 10px 0;
    }

    .text__join--container, .text__subscription--container, .text__whyus--container {
        padding: 40px;
    }

    .text--join p {
        padding-right: 10%;
    }

    .text--whyus p {
        padding-right: 30%;
    }

}
